
.logo{
width: 168px;
height: 168px;
padding: 100px;
}


#pagina-home{
    height: 650px;
    background: url(./img/Banner1.png); 
    background-size: cover;
}
.menu-principal ul {
    list-style: none;
}
.menu-principal li{
    font-size: 25px;
}
.menu-principal ul li{
    display: inline-block;
    padding:30px;
}
.menu-principal ul li a{
color: black;
text-decoration: none;
text-transform: uppercase;

}
.categoria{
display: flex;
align-items: center;
justify-content: space-between;
}
